<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نتایج جستجو</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>نتایج جستجو برای "{{ query }}"</h1>
        <a href="/">بازگشت به صفحه اصلی</a>
    </header>
    <section>
        {% if result %}
            <h2>تعریف:</h2>
            <ul>
                {% for meaning in result[0].meanings %}
                    <li><strong>{{ meaning.partOfSpeech }}:</strong> {{ meaning.definitions[0].definition }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>کلمه‌ای پیدا نشد یا مشکلی در ارتباط با API پیش آمد.</p>
        {% endif %}
    </section>
</body>
</html>
