<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ word.name }}</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>{{ word.name }}</h1>
        <a href="/">بازگشت به صفحه اصلی</a>
    </header>
    <section>
        <h2>توضیحات</h2>
        <p>{{ word.description }}</p>
        <h3>مثال کد</h3>
        <pre>{{ word.example_code }}</pre>
    </section>
</body>
</html>
